<!--<div class="container mt-4">-->
<!--  <button (click)="moveToUser()" class="btn btn-outline-primary">Get All Users</button>-->
<!--</div>-->
<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="text-center">Dummy User Information</h4>
      <button (click)="openModal('custom-modal-1'); newCreate()" class="btn btn-outline-primary">Create New User</button>

      <jw-modal id="custom-modal-1">
        <div class="text-left">
          <button (click)="closeModal('custom-modal-1');" class="cross-btn">
            <i class="fa fa-times fa-2x"></i>&nbsp;
          </button>
        </div>
        <div class="container modal-content-padding">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="text-center">
                <h4>Add New User</h4>
              </div>
              <section id="getAppointment">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-md-8">
                      <form [formGroup]="userCreateForm" class="form-toolbox">
                        <!-- Username -->
                        <div class="form-group mt-2">
                          <input [ngClass]="{ 'is-invalid': submitted && a.username.errors }" autofocus class="form-control"
                                 formControlName="username" id="username" name="username" placeholder="UserName" required
                                 type="text">

                          <div *ngIf="submitted && a.username.errors" class="invalid-feedback">
                            <div *ngIf="a.username.errors.required">Username is required</div>
                          </div>
                        </div>
                        <!--  email -->
                        <div class="form-group mt-3">
                          <input [ngClass]="{ 'is-invalid': submitted && a.email.errors }" autofocus class="form-control"
                                 formControlName="email" id="email" name="email" placeholder="Email" required
                                 type="email">

                          <div *ngIf="submitted && a.email.errors" class="invalid-feedback">
                            <div *ngIf="a.email.errors.required">Email is required</div>
                            <div *ngIf="a.email.errors.pattern">Email Format is invalid</div>
                          </div>
                        </div>
                        <!--  Phone -->
                        <div class="form-group mt-3">
                          <input [ngClass]="{ 'is-invalid': submitted && a.phone.errors }" autofocus class="form-control" formControlName="phone"
                                 id="phone" mask="(0000) 0000000" name="phone" placeholder="PhoneNumber" required
                                 type="text">

                          <div *ngIf="submitted && a.phone.errors" class="invalid-feedback">
                            <div *ngIf="a.phone.errors.required">PhoneNumber is required</div>
                          </div>
                        </div>
                        <!-- website -->
                        <div class="form-group mt-3">
                          <input [ngClass]="{ 'is-invalid': submitted && a.website.errors }" autofocus class="form-control"
                                 formControlName="website" id="website" name="website" placeholder="Website Link" required
                                 type="text">

                          <div *ngIf="submitted && a.website.errors" class="invalid-feedback">
                            <div *ngIf="a.website.errors.required">Website Link is required</div>
                            <div *ngIf="a.website.errors.pattern">Please enter valid website link</div>
                          </div>
                        </div>
                        <!-- Register Button -->
                        <ng-container *ngIf="update">
                          <button (click)="updateUserInfo()" class="btn btn-outline-primary btn-block w-100 mt-3">&nbsp;
                            <i class="fa fa-user-plus fa-sm"></i>&nbsp;Update User
                          </button>

                        </ng-container>
                        <ng-container *ngIf="!update">
                          <button (click)="registerUser()" class="btn btn-outline-primary btn-block w-100 mt-3">&nbsp;
                            <i class="fa fa-user-plus fa-sm"></i>&nbsp;Register User
                          </button>
                        </ng-container>

                      </form>

                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </jw-modal>


      <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
          <th>username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Website</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of  userData">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
          <td class="w-10">
            <button (click)="openModal('custom-modal-1'); getUpdateUser(user.id)" class="btn btn-outline-success btn-sm"><i class="fa fa-edit"></i></button>&nbsp;
            <button (click)="deleteUser(user.id)" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

